.form-group {
    margin-top: 1vh;    
}
.form-Label{
    display: block;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}
.form-text{
    width: 90%;    
}
.viewImage{
  margin-top: 1vh;
  width: 90%;
  height: 31.5vh;
}

form button {
  position: absolute;
  top: 50px;
  left: 40vw;
  width: 5rem;

}

.content {
  position: relative;
  max-width: 35vw;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  
  .alert-box {
    position: fixed;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
  }
  
  .alert-box-actions {
    text-align: right;
  }