.Image{
    margin-left: 25vw;
    max-width: 50vw;
    max-height: 40vh;
}
.details{
    display: block;
    position: relative;
    max-width: 95vw;
    max-height: 55vh;
}
.title{
    text-align: center;
    font-style: oblique;
}
.content {
    text-align: left;
    padding-left: 5vw;
    font-style: italic;
}
.anotherDetail{
    text-align: center;
    border-bottom: 1px solid tan;
    border-top: 1px solid tan;
}
