<ng-template appPlaceholder></ng-template>
<main>
    <article>
        <section id="bodySearch">
            <input id="FieldText" type="text" style="width: 20vw; height: 3vh;" placeholder="Your Status">
            <h3 id="Update">UPDATE</h3>
        </section>
        <section>
            <button type="button" id="newPost" (click)="showNewPOstAlert('New Post' , 0)">NEW POST</button>
        </section>
        <section>
            <div class="sk-chase" id="spinner" *ngIf="Loading; else showData">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
            <ng-template #showData>
                <ng-container *ngIf="content.length > 0">
                    <div class="ItemsData" *ngFor="let post of POSTSItem; index as i">
                        <div class="form" (mouseenter)="showButton(i)" (mouseleave)="HideButton(i)">
                            <div class="item">
                                <div class="title">
                                    <h3>{{ post.title }}</h3>
                                </div>
                                <div class="content-Image">
                                    <p id="content">
                                        {{ content[i] }}
                                        <a class="stretched-link text-danger" style="position: relative; cursor: pointer;" id="M{{i}}"
                                        *ngIf="!isContentToggled[i]" (click)="toggleContent(i)">Read More</a>
                                        <a class="stretched-link text-danger"
                                            style="position: relative; cursor: pointer;"
                                            id="L{{i}}"
                                            *ngIf="isContentToggled[i]" (click)="toggleContent(i)">Read Less</a>
                                        </p>
                                    <img [src] = "post.ImageUrl" height="100vh" width="100%">
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="button" style="background-color: #f44336;" (click)="OnDeletePost(post.id)" type="button">Delete</button>
                                <button class="button" style="background-color: #4CAF50;" type="button" (click)="showNewPOstAlert('Edit Post',post.id)">Edite</button>
                                <button class="button" style="background-color: #008CBA;" type="button" (click)="OnclickView(post.id)">View</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </section>
    </article>
</main>